.doc-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

.doc-container h1 {
  width: 100%;
  margin: 0;
  padding: 16px 0;
  font-size: 40px;
  text-align: center;
  background-color: #007bff;
  color: white;
}

.doc-content {
  width: 100%;
  max-width: 1000px;
  margin-top: 40px;
}

.back-btn {
  display: block;
  margin: 30px auto 0 auto;
  padding: 12px 24px;
  background-color: #2563eb;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 8px;
}

.doc-item-wrapper {
  width: 100%;
  margin-bottom: 20px;
}

.doc-btn {
  width: 100%;
  padding: 24px;
  font-size: 22px;
  text-align: left;
  border: none;
  background-color: #2563eb;
  color: white;
  cursor: pointer;
  border-radius: 12px;
  transition: background-color 0.2s;
}

.doc-btn:hover:not(.active) {
  background-color: #dc2626;
}

.doc-btn.active {
  background-color: #2563eb;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.doc-desc-container {
  width: 100%;
  padding: 20px;
  background-color: #bfdbfe;
  color: black;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
  font-size: 14px;
  white-space: pre-line;
}

.response-content {
  margin: 0;
  padding: 15px;
  padding-right: 80px; 
  background-color: #272822; 
  color: #f8f8f2;
  border-radius: 8px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 14px;
  overflow-x: auto;
}

.response-wrapper {
  position: relative;
  margin-top: 20px;
}

.copy-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none ;
  cursor: pointer;
  z-index: 10;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.copy-btn img {
  width: 20px;
  height: 20px;
}